<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-reserver-salle-heading"
        data-cy="ReserverSalleCreateUpdateHeading"
        jhiTranslate="gpiApp.reserverSalle.home.createOrEditLabel"
      >
        Create or edit a Reserver Salle
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gpiApp.reserverSalle.dateReservation" for="field_dateReservation"
            >Date Reservation</label
          >
          <div class="d-flex">
            <input
              id="field_dateReservation"
              data-cy="dateReservation"
              type="datetime-local"
              class="form-control"
              name="dateReservation"
              formControlName="dateReservation"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div
            *ngIf="
              editForm.get('dateReservation')!.invalid &&
              (editForm.get('dateReservation')!.dirty || editForm.get('dateReservation')!.touched)
            "
          >
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateReservation')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dateReservation')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gpiApp.reserverSalle.motif" for="field_motif">Motif</label>
          <input type="text" class="form-control" name="motif" id="field_motif" data-cy="motif" formControlName="motif" />
          <div *ngIf="editForm.get('motif')!.invalid && (editForm.get('motif')!.dirty || editForm.get('motif')!.touched)">
            <small class="form-text text-danger" *ngIf="editForm.get('motif')?.errors?.required" jhiTranslate="entity.validation.required">
              This field is required.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gpiApp.reserverSalle.classe" for="field_classe">Classe</label>
          <select class="form-control" id="field_classe" data-cy="classe" name="classe" formControlName="classe">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="classeOption.id === editForm.get('classe')!.value?.id ? editForm.get('classe')!.value : classeOption"
              *ngFor="let classeOption of classesSharedCollection; trackBy: trackClasseById"
            >
              {{ classeOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gpiApp.reserverSalle.salle" for="field_salle">Salle</label>
          <select class="form-control" id="field_salle" data-cy="salle" name="salle" formControlName="salle">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="salleOption.id === editForm.get('salle')!.value?.id ? editForm.get('salle')!.value : salleOption"
              *ngFor="let salleOption of sallesSharedCollection; trackBy: trackSalleById"
            >
              {{ salleOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
