<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="reserverSalle">
      <h2 data-cy="reserverSalleDetailsHeading"><span jhiTranslate="gpiApp.reserverSalle.detail.title">Reserver Salle</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ reserverSalle.id }}</span>
        </dd>
        <dt><span jhiTranslate="gpiApp.reserverSalle.dateReservation">Date Reservation</span></dt>
        <dd>
          <span>{{ reserverSalle.dateReservation | formatMediumDatetime }}</span>
        </dd>
        <dt><span jhiTranslate="gpiApp.reserverSalle.motif">Motif</span></dt>
        <dd>
          <span>{{ reserverSalle.motif }}</span>
        </dd>
        <dt><span jhiTranslate="gpiApp.reserverSalle.classe">Classe</span></dt>
        <dd>
          <div *ngIf="reserverSalle.classe">
            <a [routerLink]="['/classe', reserverSalle.classe?.id, 'view']">{{ reserverSalle.classe?.id }}</a>
          </div>
        </dd>
        <dt><span jhiTranslate="gpiApp.reserverSalle.salle">Salle</span></dt>
        <dd>
          <div *ngIf="reserverSalle.salle">
            <a [routerLink]="['/salle', reserverSalle.salle?.id, 'view']">{{ reserverSalle.salle?.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/reserver-salle', reserverSalle.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
