<div>
  <h2 id="page-heading" data-cy="SessionEnseignementHeading">
    <span jhiTranslate="gpiApp.sessionEnseignement.home.title">Session Enseignements</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpiApp.sessionEnseignement.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-session-enseignement"
        [routerLink]="['/session-enseignement/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpiApp.sessionEnseignement.home.createLabel"> Create a new Session Enseignement </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="sessionEnseignements?.length === 0">
    <span jhiTranslate="gpiApp.sessionEnseignement.home.notFound">No sessionEnseignements found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="sessionEnseignements && sessionEnseignements.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="dateDebut">
            <span jhiTranslate="gpiApp.sessionEnseignement.dateDebut">Date Debut</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="dateFin">
            <span jhiTranslate="gpiApp.sessionEnseignement.dateFin">Date Fin</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="cours.id">
            <span jhiTranslate="gpiApp.sessionEnseignement.cours">Cours</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="salleReserver.id">
            <span jhiTranslate="gpiApp.sessionEnseignement.salleReserver">Salle Reserver</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let sessionEnseignement of sessionEnseignements; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/session-enseignement', sessionEnseignement.id, 'view']">{{ sessionEnseignement.id }}</a>
          </td>
          <td>{{ sessionEnseignement.dateDebut | formatMediumDatetime }}</td>
          <td>{{ sessionEnseignement.dateFin | formatMediumDatetime }}</td>
          <td>
            <div *ngIf="sessionEnseignement.cours">
              <a [routerLink]="['/enseigner', sessionEnseignement.cours?.id, 'view']">{{ sessionEnseignement.cours?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="sessionEnseignement.salleReserver">
              <a [routerLink]="['/reserver-salle', sessionEnseignement.salleReserver?.id, 'view']">{{
                sessionEnseignement.salleReserver?.id
              }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/session-enseignement', sessionEnseignement.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/session-enseignement', sessionEnseignement.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(sessionEnseignement)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="sessionEnseignements && sessionEnseignements.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
