<div class="row justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-session-enseignement-heading"
        data-cy="SessionEnseignementCreateUpdateHeading"
        jhiTranslate="gpiApp.sessionEnseignement.home.createOrEditLabel"
      >
        Create or edit a Session Enseignement
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="form-group" [hidden]="editForm.get('id')!.value == null">
          <label class="form-control-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gpiApp.sessionEnseignement.dateDebut" for="field_dateDebut">Date Debut</label>
          <div class="d-flex">
            <input
              id="field_dateDebut"
              data-cy="dateDebut"
              type="datetime-local"
              class="form-control"
              name="dateDebut"
              formControlName="dateDebut"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('dateDebut')!.invalid && (editForm.get('dateDebut')!.dirty || editForm.get('dateDebut')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateDebut')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dateDebut')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gpiApp.sessionEnseignement.dateFin" for="field_dateFin">Date Fin</label>
          <div class="d-flex">
            <input
              id="field_dateFin"
              data-cy="dateFin"
              type="datetime-local"
              class="form-control"
              name="dateFin"
              formControlName="dateFin"
              placeholder="YYYY-MM-DD HH:mm"
            />
          </div>
          <div *ngIf="editForm.get('dateFin')!.invalid && (editForm.get('dateFin')!.dirty || editForm.get('dateFin')!.touched)">
            <small
              class="form-text text-danger"
              *ngIf="editForm.get('dateFin')?.errors?.required"
              jhiTranslate="entity.validation.required"
            >
              This field is required.
            </small>
            <small
              class="form-text text-danger"
              [hidden]="!editForm.get('dateFin')?.errors?.ZonedDateTimelocal"
              jhiTranslate="entity.validation.ZonedDateTimelocal"
            >
              This field should be a date and time.
            </small>
          </div>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gpiApp.sessionEnseignement.cours" for="field_cours">Cours</label>
          <select class="form-control" id="field_cours" data-cy="cours" name="cours" formControlName="cours">
            <option [ngValue]="null"></option>
            <option
              [ngValue]="enseignerOption.id === editForm.get('cours')!.value?.id ? editForm.get('cours')!.value : enseignerOption"
              *ngFor="let enseignerOption of enseignersSharedCollection; trackBy: trackEnseignerById"
            >
              {{ enseignerOption.id }}
            </option>
          </select>
        </div>

        <div class="form-group">
          <label class="form-control-label" jhiTranslate="gpiApp.sessionEnseignement.salleReserver" for="field_salleReserver"
            >Salle Reserver</label
          >
          <select
            class="form-control"
            id="field_salleReserver"
            data-cy="salleReserver"
            name="salleReserver"
            formControlName="salleReserver"
          >
            <option [ngValue]="null"></option>
            <option
              [ngValue]="
                reserverSalleOption.id === editForm.get('salleReserver')!.value?.id
                  ? editForm.get('salleReserver')!.value
                  : reserverSalleOption
              "
              *ngFor="let reserverSalleOption of reserverSallesSharedCollection; trackBy: trackReserverSalleById"
            >
              {{ reserverSalleOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
