<div>
  <h2 id="page-heading" data-cy="UserMgrHeading">
    <span jhiTranslate="gpiApp.userMgr.home.title">User Mgrs</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info mr-2" (click)="loadPage()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="gpiApp.userMgr.home.refreshListLabel">Refresh List</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-user-mgr"
        [routerLink]="['/user-mgr/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="gpiApp.userMgr.home.createLabel"> Create a new User Mgr </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="userMgrs?.length === 0">
    <span jhiTranslate="gpiApp.userMgr.home.notFound">No userMgrs found</span>
  </div>

  <div class="table-responsive" id="entities" *ngIf="userMgrs && userMgrs.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
          <th scope="col" jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="type"><span jhiTranslate="gpiApp.userMgr.type">Type</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col" jhiSortBy="quotaHoraire">
            <span jhiTranslate="gpiApp.userMgr.quotaHoraire">Quota Horaire</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="departement.id">
            <span jhiTranslate="gpiApp.userMgr.departement">Departement</span> <fa-icon icon="sort"></fa-icon>
          </th>
          <th scope="col" jhiSortBy="grade.id"><span jhiTranslate="gpiApp.userMgr.grade">Grade</span> <fa-icon icon="sort"></fa-icon></th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let userMgr of userMgrs; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/user-mgr', userMgr.id, 'view']">{{ userMgr.id }}</a>
          </td>
          <td jhiTranslate="{{ 'gpiApp.TypeEnseignant.' + userMgr.type }}">{{ userMgr.type }}</td>
          <td>{{ userMgr.quotaHoraire }}</td>
          <td>
            <div *ngIf="userMgr.departement">
              <a [routerLink]="['/departement', userMgr.departement?.id, 'view']">{{ userMgr.departement?.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="userMgr.grade">
              <a [routerLink]="['/grade', userMgr.grade?.id, 'view']">{{ userMgr.grade?.id }}</a>
            </div>
          </td>
          <td class="text-right">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/user-mgr', userMgr.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/user-mgr', userMgr.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(userMgr)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngIf="userMgrs && userMgrs.length > 0">
    <div class="row justify-content-center">
      <jhi-item-count [params]="{ page: page, totalItems: totalItems, itemsPerPage: itemsPerPage }"></jhi-item-count>
    </div>

    <div class="row justify-content-center">
      <ngb-pagination
        [collectionSize]="totalItems"
        [(page)]="ngbPaginationPage"
        [pageSize]="itemsPerPage"
        [maxSize]="5"
        [rotate]="true"
        [boundaryLinks]="true"
        (pageChange)="loadPage($event)"
      ></ngb-pagination>
    </div>
  </div>
</div>
